{
	"Underlying Window Color" = "#cbcbcb";
	"Server List" = {
		"Text Font Style" = "Lucida Grande";
		"Text Font Size" = 11;
		"Background Color" = "#dee4ea";
		"Highlight Color" = "#78b142";
		"New Private Message Color" = "#d33b54";
		"Unread Color" = "#0a53eb";
		"Active Color" = "#000";
		"Inactive Color" = "#585858";
		"Active Color (Selected)" = "#fff";
		"Inactive Color (Selected)" = "#e7e7e7";
		Gradient = {
			"Top Color" = "#afbdda";
			"Bottom Color" = "#8297bd";
			"Top Line Color" = "#a0afcd";
			"Bottom Line Color" = "#7f94ba";
		};
	};
	"Member List" = {
		"Text Font Style" = "Lucida Grande";
		"Text Font Size" = 11;
		"Background Color" = "#dee4ea";
		"Text Color" = "#000";
		"Op Text Color" = "#000";
		"Text Color (Selected)" = "#fff";
		Gradient = {
			"Top Color" = "#afbdda";
			"Bottom Color" = "#8297bd";
			"Top Line Color" = "#a0afcd";
			"Bottom Line Color" = "#7f94ba";
		};
	};
	"Input Box" = {
		"Text Font Style" = "";
		"Text Font Size" = 0;
		"Background Color" = "#fff";
		"Text Color" = "#000";
	};
}